fastapi
uvicorn[standard]
python-multipart
pydantic[email]
sqlalchemy
aiomysql
alembic
PyJWT
pwdlib[argon2]
fastapi-mail
redis
aio-pika
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-ollama
langchain-chroma
langchain-deepseek
langgraph
langgraph-checkpoint-postgres
psycopg[binary]
psycopg-pool
pypdf
reportlab
Pillow
pytest
pytest-asyncio
httpx
aiosqlite
cryptography
